* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: sans-serif;
}

body {
}

.tank {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #6ac2f5 0%, #031568 88%);
}

.tank img {
    position: absolute;
    transition: 
        left 4s linear,
        top 4s linear,
        transform .5s ease-in-out;
    width: 10vw;
}

.plant .plantImage {
    width: 20%;
    position: absolute;
    bottom: 5rem;
    margin: 0 auto;
    left: 40%;
}

.plant .drop {
    left: 65%;
    width: 4%;
    position: absolute;
    top: 0;
    animation: drop 1s ease-in infinite;
}

@keyframes drop {
    0% {
        top: -10rem;
    }

    100% {
        top: 87vh;
    }
}

.plant {
    height: 100vh;
}

#bacteria {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/bacteria.png');
    background-size: cover;
}

.ground {
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 6rem;
    background-color: rgb(51, 33, 5);
}

iframe {
    border: 0;
}

.drops {
    display: block;
}

.gone {
    visibility: hidden;
}

.drops img {
    width: 4%;
    position: absolute;
    top: 100vh;
    animation: dropNew 4s linear infinite;
}

@keyframes dropNew {
    0% {
        top: 100vh;
    }
    100% {
        top: 250vh;
    }
}

.drops .drop1 {
    left: 65vw;
    animation-delay: 2.8s;
}

.drops .drop2 {
    left: 40vw;
    animation-delay: 1.5s;
}

.drops .drop3 {
    left: 80vw;
}

#collector {
    height: 100vh;
    width: 100vw;
}

.info {
    width: 33vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin-top: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.info h1,
.info h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.info p {
    margin-bottom: 1rem;
    line-height: 1.5em;
}

.info a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.info a:after {
    content: '->';
    margin-left: .4rem;
    letter-spacing: .2rem;
    transition: 
        margin-left .3s ease-in-out,
        letter-spacing .3s ease-in-out;
}

.info a:hover:after {
    margin-left: 1rem;
}