<% include ../header %>

<main class="plant">
    <a href="#bacteria">Lees meer</a>
    <img class="drop" src="images/drop.png">
    <div class="ground"></div>
    <img src="images/plant.png" class="plantImage">
</main>
<div id="bacteria">

</div>

<% include ../footer %>