<% include ../header %>

    <main class="tank">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
    </main>

    <script src="script/tank.js"
    
<% include ../footer %>